$nav-background: #d4edda;

$spacing: 6%; 

#navBody{
    background: $nav-background;
}

#cardPad{
    margin: $spacing;
}

.container .row .col{
    display: flex;
    flex-wrap: wrap;
}

#tablePad{
    margin: $spacing;
}

#textStyle{
    margin-left: $spacing;
}

h2{
    margin: $spacing;
}

ul li a{
    font-size: 20px;
    margin: 20px;
}